# SPDX-License-Identifier: GPL-2.0-only
#
# Samsung SoC drivers
#

config EXYNOS_ACPM
	tristate "ACPM driver support"
	depends on ARCH_EXYNOS
	default n
	help
	Support ACPM for Exynos SoC.

config CAL_IF
	tristate "Exynos Chip Abstraction Layer Interface"
	help
	Support CMU CAL for Exynos SoC.

config EXYNOS_DEBUG_INFO
	bool "Exynos Debug infromation"
	default y
	help
	Support printing Exynos Debug information.

config CMUCAL
	tristate "Exynos CMU Chip Abstraction Layer"
	default y
	depends on CAL_IF
	help
	Support CMUCAL for Exynos SoC.

config CMUCAL_V2
	tristate "Exynos CMU Chip Abstraction Layer"
	depends on CAL_IF
	help
	Support CMUCAL_V2 for Exynos SoC.

config CP_PMUCAL
	tristate "Exynos PMU(for CP) Chip Abstraction Layer"
	default n
	depends on CAL_IF
	help
	Support CP_PMUCAL for Exynos SoC.

config GNSS_PMUCAL
        tristate "Exynos PMU(for GNSS) Chip Abstraction Layer"
        depends on CAL_IF
        help
        Support GNSS_PMUCAL for Exynos SoC.

config CHUB_PMUCAL
        tristate "Exynos PMU(for CHUB) Chip Abstraction Layer"
	default n
        depends on CAL_IF
        help
        Support CHUB_PMUCAL for Exynos SoC.

config CMUCAL_DEBUG
	tristate "CMUCAL Debug Interface"
	default y
	depends on CMUCAL

config CMUCAL_QCH_IGNORE_SUPPORT
	tristate "CMUCAL QCH IGNORE Support"
	default y
	depends on CMUCAL

config PMUCAL
        bool "Exynos PMU Chip Abstraction Layer"
        depends on CAL_IF
        default y
        help
        Support PMUCAL for Exynos SoC.

config PMUCAL_DBG
        tristate "Exynos PMUCAL debugging interface"
        depends on PMUCAL
        help
        Support PMUCAL debugging for Exynos SoC.

config EXYNOS_FLEXPMU_DBG
        tristate "Exynos FLEXPMU debugging interface"
	depends on SOC_S5E9925
	help
	Support FLEXPMU for Exynos SoC.

config PMUCAL_CMU_INIT
		tristate "CMU_INIT in kernel"
	default n
	help
	Support PMUCAL_CMU_INIT for Exynos SoC.

config CMU_EWF
	tristate "exynos early wakeup force enable"
	depends on CAL_IF
	default n
	help
	Support CMUEWF for Exynos SoC.


config ACPM_DVFS
        tristate "Exynos ACPM DVFS manager"
        depends on CAL_IF && CMUCAL
        default n
        help
        Support ACPM DVFS for Exynos SoC.

config EXYNOS_POWER_RAIL_DBG
	tristate "Exynos POWER RAIL minlock debugging interface"
	depends on ACPM_DVFS
	default m
	help
	  Support POWER RAIL STATUS for Exynos SoC.

config EXYNOS_ICM
	tristate "Exynos Isolated CryptoManager driver"
	default n
	help
	  Support Exynos Isolated CryptoManager driver

config EXYNOS_SSP
	tristate "Exynos Samsung Secure Platform"
	default m
	help
	  Support Samsung Secure Platform

config EXYNOS_PMU_IF
	tristate "Exynos PMU controller Interface driver"
	help
	Support PMU register API for Exynos SoC.
	select EXYNOS_PMU_ARM_DRIVERS if ARM && ARCH_EXYNOS

config EXYNOS_WOW
	tristate "Exynos Workload Watcher"
	depends on ARM_EXYNOS_DEVFREQ
	default m
	help
	  Exynos Workload Wather (WoW) driver support

config EXYNOS_CHIPID_V2
	tristate "Exynos Chipid controller driver v2"
	depends on ARCH_EXYNOS
	help
	  Exynos chipid V2 driver.
	  Support newly added soc chipid.

config EXYNOS_CRYPTOMANAGER
	tristate "Exynos Samsung CryptoManager"
	default m
	help
	  Support Exynos Samsung CryptoManager

config EXYNOS_PM_QOS
	tristate "Exynos PM QOS"
	default m
	help
	  Support Exynos PM QOS

config EXYNOS_EL2
	tristate "Exynos EL2 Solution"
	depends on ARCH_EXYNOS
	help
	  Exynos EL2 Solution has implemented Stage 2
	  MMU and IOMMU.

config EXYNOS_HYP
	tristate "Exynos Hypervisor Solution"
	depends on ARCH_EXYNOS
	help
	  Exynos Hypervisor Solution based on pKVM and pKVM module.

config EXYNOS_HYP_MODULE
	tristate "Exynos Hypervisor Module"
	depends on EXYNOS_HYP
	help
	  Exynos Hypervisor pKVM module.

config EXYNOS_S2MPU
        tristate "Exynos Stage 2 Memory Protection Unit(S2MPU)"
	depends on EXYNOS_EL2
        help
          Exynos S2MPU driver to set S2MPU access permission.

config EXYNOS_S2MPU_PD
	bool "Exynos S2MPU PM domain support"
	depends on EXYNOS_S2MPU
	default y
	help
	  Backup and restore S2MPU when PM domains
	  turn on and off.

config EXYNOS_HYP_S2MPU
	tristate "Exynos S2MPU Module for pKVM"
	depends on (EXYNOS_S2MPU && EXYNOS_HYP_MODULE)
	help
	  Exynos S2MPU module driver for protected KVM.

config EXYNOS_MCINFO
        tristate "Exynos memory controller information"
        default m

config MCINFO_SYSFS
        bool "Exynos memory controller information sysfs"
        depends on EXYNOS_MCINFO
        default y if SYSFS

source "drivers/soc/samsung/exynos/acpm/Kconfig"
source "drivers/soc/samsung/exynos/debug/Kconfig"
source "drivers/soc/samsung/exynos/dm/Kconfig"
source "drivers/soc/samsung/exynos/cpif/Kconfig"
source "drivers/soc/samsung/exynos/ect_parser/Kconfig"
source "drivers/soc/samsung/exynos/esca_v2/Kconfig"
source "drivers/soc/samsung/exynos/exynos-pd/Kconfig"
source "drivers/soc/samsung/exynos/exynos-pm/Kconfig"
source "drivers/soc/samsung/exynos/gnssif/Kconfig"
source "drivers/soc/samsung/exynos/gnssif_spi/Kconfig"
source "drivers/soc/samsung/exynos/profiler/Kconfig"
